<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: rgb(87, 47, 114);
    background-color: rgb(178, 246, 187);
    margin-bottom: 30px;
  }
</style>

<h1>burgers for {{eater}}</h1>

<ul>
{{#each burger }}
  <li>{{burgers}}</li>
{{/each}}
</ul>
